/*──────────────────────────────────────────────────────────────────────────
    [ COMPONENT: emoji store ]
──────────────────────────────────────────────────────────────────────────*/

#frame-emoji-store, #widget-emoji-store {
    background-color: #1E1E1E;
}


/*──────────────────────────────────────────────────────────────────────────
    [ row ]
──────────────────────────────────────────────────────────────────────────*/

#label-row-emoji-store {
    font-size: 24px;
}

#label-row-emoji-store:hover {
    background-color: #61AFEF;
}

/*──────────────────────────────────────────────────────────────────────────
    [ title ]
──────────────────────────────────────────────────────────────────────────*/

#label-title-emoji-store {
    background-color: #282A36;
    color: #61AFEF;
    padding:8px;
    font-weight: 500;
    font-size: 14px;
}
