/*──────────────────────────────────────────────────────────────────────────
    [ COMPONENT: empty notification ]
──────────────────────────────────────────────────────────────────────────*/

#label-notification {
    font-size: 16px;
    font-weight: 500;
    color: #454554;
}