/*──────────────────────────────────────────────────────────────────────────
    [ VIEW: Top panel ]
──────────────────────────────────────────────────────────────────────────*/

#label-title-panel {
    background-color: #282A36;
    color: #61AFEF;
    font-weight: 600;
    font-size: 18px;
    padding: 8px;
}

/*──────────────────────────────────────────────────────────────────────────
    [ VIEW: Bottom panel ]
──────────────────────────────────────────────────────────────────────────*/

#frame-bottom-panel {
    background-color: red;
    min-width: 674px;
    max-width: 674px;
    max-height: 200px;
    min-height: 200px;
}